body{
  background-color: rgb(25, 25, 25);
  font-family: Arial;
  color: white;
}
.title{
   font-size: 30px;
   font-weight: 700;
   margin-left: 45px;
}
.move-icon{
  height: 50px;
}

.move-button{
  background-color: transparent;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid white;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s, border 0.15s;
}
.move-button:hover{
  background-color: rgb(66, 66, 66);
  border: 3px solid goldenrod;
}
.move-button:active{
  background-color: rgb(56, 55, 55);
  border: 3px solid white;
}
.result{
  font-size: 25px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 140px;
}
.score{
  margin-top: 60px;
  margin-left: 80px;
}
.auto-play-button {
  margin-left: 30px;
}
.reset-score-button{
  margin-left: 70px;
}
.reset-score-button, 
.auto-play-button{
  background-color: white;
  border:none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.reset-score-button:hover, 
.auto-play-button:hover{
  opacity:0.8;
}
.reset-score-button:active,
.auto-play-button:active{
  opacity:0.5;
}

.container{
  margin-left: 33%;
}

.moves{
  margin-left: 110px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
  margin-top: 30px;
  margin-left: 30px;
}

.github-link, .linkdin-link{
  background-color: rgb(25, 25, 25);
  border: none;
}

.fa-github, .fa-linkedin{
  font-size: 30px;
  color: white;
}

.fa-github:hover, .fa-linkedin:hover{
  color: goldenrod;
}
